<!DOCTYPE html>
<html lang="en" ng-app="tiberius.app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ROME WEB CONSOLE</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="app/tiberius.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div class="container-fluid" ng-controller="AppController">
        <!-- navigator -->
        <div class="row navigator">
            <div class="col-sm-12">
            
                <h3 class="brand">:: rome ::</h3>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" title="Dashboard"><i class="fa fa-home"></i></a></li>
                    <li><a href="#" title="Orchestration"><i class="fa fa-terminal"></i></a></li>
                    <li><a href="#" title="Configuration"><i class="fa fa-tasks"></i></a></li>
                    <li><a href="#" title="Deployment"><i class="fa fa-cloud-download"></i></a></li>
                    <li class="navbar-split"></li>
                    <li><a href="#" title="Profile"><i class="fa fa-user"></i></a></li>
                    <li><a href="#" title="Settings"><i class="fa fa-cog"></i></a></li>
                    <li><a href="#" title="Logout"><i class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
        </div>
        
        <!-- titlebar -->
        <div class="row titlebar">
            <div class="col-sm-12 ">
                <div class="title">
                    <i class="fa fa-{{titlebar.icon}}"></i><h1>{{ titlebar.title | uppercase }}</h1><h3>{{ titlebar.description }}</h3>
                </div>
                <div class="toolbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#" title="Edit"><i class="fa fa-edit"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- notifier -->
        <div class="row alert view" ng-controller="AlertViewController">
            <div class="col-sm-12">
                <alert ng-repeat="alert in alerts" type="alert.type" close="removeAlert($index)">
                    <strong ng-if="alert.title.length">{{alert.title}}</strong>
                    {{alert.message}}
                </alert>
            </div>
        </div>
        
        <!-- workbench -->
        <div class="row workbench">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-danger" ng-click="addAlert()"><i class="fa fa-add"></i>Add Alert</button>
            </div>
        </div>
    </div>
    <script src="lib/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/angular/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/angular/angular-route.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/ui-bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="ui/alert.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/tiberius.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
