/**************************************************************
 *
 *  OPEN SANS
 *
 **************************************************************/
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:300;
    src:local("Open Sans Light"),local("OpenSans-Light"),url(../lib/open-sans/OpenSans-Light.ttf)
}

@font-face {
    font-family:'Open Sans';
    font-style:italic;
    font-weight:300;
    src:local("Open Sans Light Italic"),local("OpenSansLight-Italic"),url(../lib/open-sans/OpenSans-LightItalic.ttf)
}

@font-face {
    font-family:'Open Sans';
    font-style: normal;
    font-weight: 400;
    src:local("Open Sans"),local("OpenSans"),url(../lib/open-sans/OpenSans-Regular.ttf)
}

@font-face {
    font-family:'Open Sans';
    font-style:italic;
    font-weight:400;
    src:local("Open Sans Italic"),local("OpenSans-Italic"),url(../lib/open-sans/OpenSans-Italic.ttf)
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src:local("Open Sans Semibold"),local("OpenSans-Semibold"),url(../lib/open-sans/OpenSans-Semibold.ttf)
}

@font-face {
    font-family:'Open Sans';
    font-style:italic;
    font-weight:600;
    src:local("Open Sans Semibold Italic"),local("OpenSansSemibold-Italic"),url(../lib/open-sans/OpenSans-SemiboldItalic.ttf)
}

@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:700;
    src:local("Open Sans Bold"),local("OpenSans-Bold"),url(../lib/open-sans/OpenSans-Bold.ttf)
}

@font-face {
    font-family:'Open Sans';
    font-style:italic;
    font-weight:700;
    src:local("Open Sans Bold Italic"),local("OpenSansBold-Italic"),url(../lib/open-sans/OpenSans-BoldItalic.ttf)
}

/* SOURCE SANS PRO*/

@font-face {
    font-family:'Source Sans Pro';
    font-style:normal;
    font-weight:300;
    src:local("Source Sans Pro Light"),local("SourceSansPro-Light"),url(../lib/source-sans-pro/SourceSansPro-Light.ttf)
}

@font-face {
    font-family:'Source Sans Pro';
    font-style:italic;
    font-weight:300;
    src:local("Source Sans Pro Light Italic"),local("SourceSansPro-LightItalic"),url(../lib/source-sans-pro/SourceSansPro-LightItalic.ttf)
}


@font-face {
    font-family:'Source Sans Pro';
    font-style:normal;
    font-weight:400;
    src:local("Source Sans Pro"),local("SourceSansPro"),url(../lib/source-sans-pro/SourceSansPro-Regular.ttf)
}

@font-face {
    font-family:'Source Sans Pro';
    font-style:italic;
    font-weight:400;
    src:local("Source Sans Pro Italic"),local("SourceSansPro-Italic"),url(../lib/source-sans-pro/SourceSansPro-Italic.ttf)
}

@font-face {
    font-family:'Source Sans Pro';
    font-style:normal;
    font-weight:600;
    src:local("Source Sans Pro Semibold"),local("SourceSansPro-Semibold"),url(../lib/source-sans-pro/SourceSansPro-Semibold.ttf)
}

@font-face {
    font-family:'Source Sans Pro';
    font-style:italic;
    font-weight:600;
    src:local("Source Sans Pro Semibold Italic"),local("SourceSansPro-SemiboldItalic"),url(../lib/source-sans-pro/SourceSansPro-SemiboldItalic.ttf)
}

@font-face {
    font-family:'Source Sans Pro';
    font-style:normal;
    font-weight:700;
    src:local("Source Sans Pro Bold"),local("SourceSansPro-Bold"),url(../lib/source-sans-pro/SourceSansPro-Bold.ttf)
}

@font-face {
    font-family:'Source Sans Pro';
    font-style:italic;
    font-weight:700;
    src:local("Source Sans Pro Bold Italic"),local("SourceSansPro-BoldItalic"),url(../lib/source-sans-pro/SourceSansPro-BoldItalic.ttf)
}

/**************************************************************
 *
 *  OVERALL
 *
 **************************************************************/
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 5em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

h1, .h1 {
    font-size: 5em;
}

h3, .h3 {
    font-size: 2em;
}

i {
    font-size: 1.5em;
}

/**************************************************************
 *
 *  NAVIGATOR
 *
 **************************************************************/
.navigator {
    background-color: black;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.brand {
    color: #fff;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

.navbar-nav {
    margin-bottom: 0;
    margin-top: 0;
}

.navbar-nav li a {
    color: #999;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 1em;
    padding-left: 1em;
}

.navbar-nav li a:hover, .navbar-nav li a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -1em;
}

/* navbar button split copied from "light blue" of wrapbootstrap */
.navbar-split {
    display: block;
    height: 2em;
    width: 1px;
    margin: 0 0.5em;
    background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsMjU1LDI1NSwwKSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwyNTUsMjU1LDAuOCkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9InJnYmEoMTAyLDEwMiwxMDIsMCkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0.8)), color-stop(100%, rgba(102,102,102,0)));
    background:-webkit-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.8),rgba(102,102,102,0));
    background:-moz-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.8),rgba(102,102,102,0));
    background:-o-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.8),rgba(102,102,102,0));
    background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.8),rgba(102,102,102,0));
}


/**************************************************************
 *
 *  TITLEBAR
 *
 **************************************************************/
.titlebar {
    position: relative;
    background-color: #525252;
}

.title {
    color: #64c5c7;
    margin-top: 5em;
    margin-bottom: 5em;
}

.title i {
    margin-right: 0.25em;
    font-size: 4em;
}

.title h1 {
    display: inline-block;
    font-weight: 700;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.title h3 {
    display: inline-block;
    margin-left: 1em;
    color: #fff;
    font-weight: normal;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/**************************************************************
 *
 *  TOOLBAR
 *
 **************************************************************/
.toolbar {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}

.toolbar .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}


/**************************************************************
 *
 *  NOTIFIER
 *
 **************************************************************/
.alert.view {
    padding-top: 2em;
}

/**************************************************************
 *
 *  WORKBENCH
 *
 **************************************************************/
.workbench {
    
}
